@model ShippingTypeDto





<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> @Shipping.ShippingTypes </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>
    <form id="shippingTypeForm" class="forms-sample" method="post" enctype="multipart/form-data"
          asp-controller="ShippingTypes" asp-action="Save" role="form" novalidate>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Shipping.ShippingTypes</h4>
                        <p class="card-description"></p>

                        @* Show validation summary only after POST *@
                        @if (!ViewData.ModelState.IsValid && ViewContext.HttpContext.Request.Method == "POST")
                        {
                            <div class="alert alert-danger">
                                <div asp-validation-summary="All" class="mb-0"></div>
                            </div>
                        }

                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label asp-for="ShippingTypeAname">@Labels.NameAr</label>
                            <input asp-for="ShippingTypeAname" type="text" class="form-control" placeholder="@Labels.NameAr" autocomplete="off" />
                            <span asp-validation-for="ShippingTypeAname" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShippingTypeEname">@Labels.NameEn</label>
                            <input asp-for="ShippingTypeEname" type="text" class="form-control" placeholder="@Labels.NameEn" autocomplete="off" />
                            <span asp-validation-for="ShippingTypeEname" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShippingFactor">@Labels.Factor</label>
                            <input asp-for="ShippingFactor" type="number" step="0.01" min="0.25" max="10" class="form-control" placeholder="@Labels.Factor" />
                            
                            <span asp-validation-for="ShippingFactor" class="text-danger"></span>
                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@Actions.Save</button>
                        <button type="reset" class="btn btn-light">@Actions.Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("_AlertMessage")


@section Scripts {
    <div id="admin-form-validator-config"
         data-form-selector="#shippingTypeForm"
         data-rule-key="shippingTypeForm"></div>
    <script src="~/Admin/assets/js/admin-form-validator.js" asp-append-version="true"></script>
}


