@model SubscriptionPackageDto


@if (!ViewData.ModelState.IsValid && ViewContext.HttpContext.Request.Method == "POST")
{
    <div asp-validation-summary="All" class="text-danger"></div>
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> @Labels.SubscriptionPackage </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"></a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>

    <form id="shippingPackagingForm" class="forms-sample" method="post" enctype="multipart/form-data"
          asp-controller="SubscriptionPackage" asp-action="Save" role="form">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Labels.SubscriptionPackage</h4>
                        <p class="card-description">  </p>

                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label for="PackageName">@Labels.PackageName</label>
                            <input asp-for="PackageName" type="text" class="form-control" placeholder="@Labels.PackageName">
                            <span asp-validation-for="PackageName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="ShippimentCount">@Labels.ShippmentCount</label>
                            <input asp-for="ShippimentCount" type="text" class="form-control" placeholder="@Labels.ShippmentCount">
                            <span asp-validation-for="ShippimentCount" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="NumberOfKiloMeters">@Labels.NumberOfKiloMeters</label>
                            <input asp-for="NumberOfKiloMeters" type="text" class="form-control" placeholder="@Labels.NumberOfKiloMeters">
                            <span asp-validation-for="NumberOfKiloMeters" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="TotalWeight">@Labels.TotalWeight</label>
                            <input asp-for="TotalWeight" type="text" class="form-control" placeholder="@Labels.TotalWeight">
                            <span asp-validation-for="TotalWeight" class="text-danger"></span>
                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@Actions.Save</button>
                        <button class="btn btn-light">@Actions.Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("_AlertMessage")

@section Scripts {
    <div id="admin-form-validator-config"
         data-form-selector="#shippingPackagingForm"
         data-rule-key="shippingPackagingForm"></div>
    <script src="~/Admin/assets/js/admin-form-validator.js" asp-append-version="true"></script>
}
